{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ book.title }}</h2>
<ul class="list-group">
    <li class="list-group-item">Author: {{ book.authors }}</li>
    <li class="list-group-item">Published: {{ book.publishedDate }}</li>
    <li class="list-group-item">ISBN: {{ book.ISBN_13 }}</li>
    <li class="list-group-item">Pages: {{ book.pageCount }}</li>
    <li class="list-group-item">Link: {{ book.canonicalVolumeLink }}</li>
    <li class="list-group-item">Language: {{ book.language }}</li>
</ul>


<a href="{% url 'books:bookupdate'  book.pk  %}">Edit</a>
<a href="{% url 'books:bookdelete'  book.pk  %}">Delete</a>
{% endblock content %}